/* Reset margin/padding for entire app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import a clean modern font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: "Poppins", sans-serif;
}
